header {
  background: #3665ac;
  color: white;
}

body {
  background: rgb(252, 252, 252);
}

header li {
  list-style-type: none;
}

.header-logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.div {
  background: #3665ac;
}

.section {
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

.section-text {
  font-size: 32px;
}

.section-div-text {
  color: rgb(179, 179, 179);
}

.section-fg {
  padding: 5px;
  background: #ffffff;
  border: 1px solid white;
  border-radius: 10px;
}

.section-div-input {
  color: black;
}

.section-div-select {
  max-height: 58px;
  min-height: 58px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.section-div-select2 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.section-text2 {
  color: rgb(168, 168, 168);
}

.section-p-text {
  font-size: 12px;
}

.section-div-btn {
  background: #0fd4e2;
  border-radius: 10px;
  border: 0px;
  color: white;
  width: 100%;
}

.section-div-btn2 {
  border: 0;
  background: white;
}

.main-div-p {
  font-size: 32px;
}

.main-div-p2 {
  font-size: 24px;
}

.main-div-p3 {
  font-size: 16px;
}

.main-div-p4 {
  font-size: 20px;
}

.main-div-btn {
  border: 0;
  background: rgb(252, 252, 252);
  min-width: 250px;
  min-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-div-btn2 {
  border: 0;
  background: #11bdc9;
  border-radius: 8px;
  color: white;
}

.div-hover {
  visibility: hidden;
}

.main-div-btn:hover .div-hover {
  visibility: visible;
}

.main-div-hover {
  background: rgb(252, 252, 252);
}

.main-div-hover:hover {
  background: #ffffff;
  border-radius: 6px;
}

.main-div-btn:hover {
  border-radius: 6px;
  background: rgb(255, 255, 255);
}

.main-div-table {
  min-width: 100%;
}

.main-div-table-tr {
  color: #0056b3;
}

.main-div {
  background: rgb(252, 252, 252);
}

.main-div:hover {
  background: #ffffff;
  border-radius: 6px;
}

.main-div-btn3 {
  background: rgb(252, 252, 252);
  border: 0;
}

.main-div-btn4 {
  background: white;
  border: 1px solid;
  border-radius: 15px;
}

.main-div-btn5 {
  font-weight: bold;
  border: 0;
  background: rgb(252, 252, 252);
  color: #0056b3;
}

footer {
  background: #3665ac;
  color: white;
}

.footer-p {
  color: rgb(165, 165, 165);
}

.footer-div {
  max-width: 50%;
}

.main-div-popular-red {
  color: red;
}

.main-div-popular-green {
  color: green;
}

.main-div-popular-gray {
  color: gray;
}

.main-div-popular {
  background: rgb(252, 252, 252);
  position: relative;
}

.main-div-popular:hover {
  background: white;
  border-radius: 12px;
}

.main-div-popular-btn {
  background: #0056b3;
  color: white;
  border: 0;
  border-radius: 6px;
  width: 80%;
  visibility: hidden;
  height: 0;
}

.main-div-popular:hover .main-div-popular-btn {
  height: 40px;
  visibility: visible;
  position: absolute;
}

main table tr {
  border-bottom: 1px solid rgb(223, 223, 223);
  text-align: end;
}

.main-div-latest-news {
  background: rgb(252, 252, 252);
  min-width: 350px;
}

.main-div-latest-news:hover {
  background: white;
}

.max-height-img{
  max-height: 50px;
  max-width: 50px;
}

.max-height-btn{
  max-height: 50px;
}

.footer-text-size{
  font-size: 12px;
}

.maxMin-width-btn{
  min-width: 250px;
  max-width: 250px;
}

.min-width-PopularCoinPairs{
  min-width: 75%;
}

.mt-main-text{
  font-size: 32px;
}

.text-gray{
  color: gray;
}

.listCoins-div-text{
  color: white;
}

.listCoins-btn {
  min-height: 50px;
}

.listCoins-btn2 {
  display: none;
}

.listCoins-button{
  border: 0 solid #0056b3;
}

.listCoins-btn:hover .listCoins-btn2 {
  display: block;
  position: absolute;
}
